
<form *ngIf="vehicle" class="form-horizontal" #f="ngForm">
  <div class="form-group-sm">
    <label for="stockNum" class="col-sm-3 control-label" style="text-align: left">Stock Num:</label>
    <div class="col-sm-9 col-sm-pull-1">
      <input type="text" class="form-control" id="stockNum"
             placeholder="Location Name"
             [(ngModel)]="vehicle.stockNum" name="stockNum">
    </div>
  </div>
</form>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
