<div *ngIf="dealerShips" class="jumbotron">
  <!--<div class="btn-group" role="group" aria-label="...">-->
  <!--<button type="button" class="btn btn-default" *ngFor="let dealerShip of dealerShips; let index = index">-->
  <!--{{ dealerShip.headerTitle }}-->
  <!--</button>-->
  <!--</div>-->
  <div class="container-fluid">
    <div class="row col-lg-8">
      <h4>Locations:</h4>
    </div>
    <div class="row col-lg-8">
      <ul class="nav nav-pills">
        <li role="presentation" *ngFor="let dealerShip of dealerShips; let index = index"><a style="cursor: pointer"
                                                                                             (click)="getVehicles(dealerShip.id)">{{
          dealerShip.headerTitle }}</a></li>
      </ul>
    </div>
    <div class="row col-lg-8">
      <vehicle-list [vehicles]="vehicles"></vehicle-list>
    </div>
  </div>
</div>

